*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100%
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Press';
		font-weight: 400;
		src: 
			url('../public/fonts/press-start.woff') format('woff'), 
			url('../public/fonts/press-start.woff2') format('woff2');
	}
}
